@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
//Roboto+Mono | Sparta
$themeGreen: #C0EDF0;
$highlightGreen: #2ce6f2;
$transBG: #C0EDF0;
$naniteSize: 600px;
$engorgedNaniteSize: $naniteSize * 1.1;
$naniteOffset: $naniteSize / 2;
$engorgedOffset: $engorgedNaniteSize / 2;
$leftWidth: 2 / 12 * 100%;
$centerWidth: 7 / 12 * 100%;
$rightWidth: 3 /12 * 100%;

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', sans-serif;
  background-color: #000;
  color: #C0EDF0;
  user-select: none;
}

#dsp {
  display: inline-block;
  vertical-align: middle;
  margin: 5px 260px 5px 140px;
  width: 50px;
  height: 100%;
}

#upperPanel {
  background: linear-gradient(0.25turn, #1A1C23, #3d139e, #1A1C23);
  height: 8vh;
  width: 100%;
}

#App {
  display: flex;
  flex: 1;
}

#Game {
  display: flex;
  flex-direction: column;
}

#backPlanet {
  display: inline-block;
  width: 50%;
  background-image: url("Ressources/planet/bg_espace.png");
  vertical-align: middle;
  height: 100%;
}

#banner {
  width: 100%;
  background-color: #1A1C23;
  text-align: center;
}

#stoneAge {
  width: $naniteSize;
  height: $naniteSize;
  background-image: url("Ressources/planet/planete2-0.svg");
  background-repeat: no-repeat;
  padding: 0.4em;
  cursor: pointer;
  margin-top: 50px;

  &:hover {
    width: $engorgedNaniteSize;
    height: $engorgedNaniteSize;
  }

  &:active {
    width: $naniteSize;
    height: $naniteSize;
  }
}

#middleAge {
  width: $naniteSize;
  height: $naniteSize;
  background-image: url("Ressources/planet/planete2.svg");
  background-repeat: no-repeat;
  padding: 0.4em;
  cursor: pointer;
  margin-top: 50px;

  &:hover {
    width: $engorgedNaniteSize;
    height: $engorgedNaniteSize;
  }

  &:active {
    width: $naniteSize;
    height: $naniteSize;
  }
}

#industrialAge {
  width: $naniteSize;
  height: $naniteSize;
  background-image: url("Ressources/planet/planete3.svg");
  background-repeat: no-repeat;
  padding: 0.4em;
  cursor: pointer;
  margin-top: 50px;

  &:hover {
    width: $engorgedNaniteSize;
    height: $engorgedNaniteSize;
  }

  &:active {
    width: $naniteSize;
    height: $naniteSize;
  }
}

#tooltip {
  width: 300px;
  position: fixed;
  right: $rightWidth;
  border: 1px solid #999;
  padding: 0.5em;
  background-color: #1A1C23;
  color: #C0EDF0;
  z-index: 999;
  .description {
    font-size: 15px;
  }
}

#buildingContainer {
  // padding-bottom: 200px;
}

#items {
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("Ressources/primary/food.svg");
  height: 40px;
  width: 100%;
}

#frame {
  background-image: url("Ressources/Planche_bat_améliorations.png");
  background-repeat: no-repeat;
}

#test {
  &:hover {
    //color: $highlightGreen;
    border-color: $highlightGreen;
    background-color: #282b2b !important;
  }
}

.building {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  border: 1px solid $themeGreen;

  &:hover {
    color: $highlightGreen;
    border-color: $highlightGreen;
  }
}

#Bois {
  position: sticky;
  background-repeat: no-repeat;
  background-image: url("Ressources/primary/wood.svg");
  height: 40px;
  width: 40px;
}

#Pierre {
  background-repeat: no-repeat;
  background-image: url("Ressources/primary/stone.svg");
  height: 40px;
  width: 40px;
}

#Nourriture {
  background-repeat: no-repeat;
  background-image: url("Ressources/primary/food.svg");
  height: 40px;
  width: 40px;
}

#Or {
  background-repeat: no-repeat;
  background-image: url("Ressources/industrialAge/Paquet_de_thunes.svg");
  height: 40px;
  width: 40px;
}

#BoisSpe {
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("Ressources/primary/wood.svg");
  height: 40px;
  width: 100%;
  margin-top: 10px;
}

#PierreSpe {
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("Ressources/primary/stone.svg");
  height: 40px;
  width: 100%;
  margin-top: 10px;
}

#NourritureSpe {
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("Ressources/primary/food.svg");
  height: 40px;
  width: 100%;
  margin-top: 10px;
}

#OrSpe {
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("Ressources/industrialAge/Paquet_de_thunes.svg");
  height: 40px;
  width: 100%;
  margin-top: 10px;
}

#Hache {
  //position: absolute;
  background-repeat: no-repeat;
  background-image: url("Ressources/stoneAge/axe.svg");
  height: 40px;
  width: 100%;
}

#Pioche {
  background-repeat: no-repeat;
  background-image: url("Ressources/stoneAge/Pioche.svg");
  height: 40px;
  width: 100%;
}

#Lance {
  background-repeat: no-repeat;
  background-image: url("Ressources/stoneAge/Lance.svg");
  height: 40px;
  width: 100%;
}

#Cabane_en_bois {
  background-repeat: no-repeat;
  background-image: url("Ressources/stoneAge/caban.svg");
  height: 40px;
  width: 100%;
}

#Travail_du_fer {
  background-repeat: no-repeat;
  background-image: url("Ressources/stoneAge/Travaildufer.svg");
  height: 40px;
  width: 100%;
}

#Château {
  background-repeat: no-repeat;
  background-image: url("Ressources/middleAge/Chateau.svg");
  height: 40px;
  width: 100%;
}

#Mine {
  background-repeat: no-repeat;
  background-image: url("Ressources/stoneAge/Mine.svg");
  height: 40px;
  width: 100%;
}

#Camp_de_bûcheron {
  background-repeat: no-repeat;
  background-image: url("Ressources/stoneAge/Camp.svg");
  height: 40px;
  width: 100%;
}

#Elevage {
  background-repeat: no-repeat;
  background-image: url("Ressources/stoneAge/elevage.svg");
  height: 40px;
  width: 100%;
}

#Scies_à_main {
  background-repeat: no-repeat;
  background-image: url("Ressources/middleAge/Scie.svg");
  height: 40px;
  width: 100%;
}

#Pioches_en_métal {
  background-repeat: no-repeat;
  background-image: url("Ressources/middleAge/Pioche.svg");
  height: 40px;
  width: 100%;
}

#Arc {
  background-repeat: no-repeat;
  background-image: url("Ressources/middleAge/Arc.svg");
  height: 40px;
  width: 100%;
}

#Scierie {
  background-repeat: no-repeat;
  background-image: url("Ressources/middleAge/Scierie.svg");
  height: 40px;
  width: 100%;
}

#Armurerie {
  background-repeat: no-repeat;
  background-image: url("Ressources/stoneAge/caban2.svg");
  height: 40px;
  width: 100%;
}

#Boucherie {
  background-repeat: no-repeat;
  background-image: url("Ressources/middleAge/Boucherie.svg");
  height: 40px;
  width: 100%;
}

#Artisanat {
  background-repeat: no-repeat;
  background-image: url("Ressources/middleAge/artisanat.svg");
  height: 40px;
  width: 100%;
}

#Decouverte_de_l_acier {
  background-repeat: no-repeat;
  background-image: url("Ressources/middleAge/artisanat.svg");
  height: 40px;
  width: 100%;
}

#Monnaie {
  background-repeat: no-repeat;
  background-image: url("Ressources/industrialAge/Moyenne liasse de billets.svg");
  height: 40px;
  width: 100%;
}

#Immeuble {
  background-repeat: no-repeat;
  background-image: url("Ressources/industrialAge/Immeubles_1.svg");
  height: 40px;
  width: 100%;
}

#Publicité {
  background-repeat: no-repeat;
  //background-image: url("Ressources/industrialAge/Immeubles_2.svg");
  height: 40px;
  width: 100%;
}

#Internet {
  background-repeat: no-repeat;
  background-image: url("Ressources/industrialAge/internet.png");
  height: 40px;
  width: 100%;
}

#Balistique {
  background-repeat: no-repeat;
  //background-image: url("Ressources/industrialAge/Moyen satellite.svg");
  height: 40px;
  width: 100%;
}

#Programme_Spatial {
  background-repeat: no-repeat;
  background-image: url("Ressources/industrialAge/Moyen satellite.svg");
  height: 40px;
  width: 100%;
}

#Projet_Yggdrasil {
  background-repeat: no-repeat;
  background-image: url("Ressources/planet/planete2-3.svg");
  height: 40px;
  width: 100%;
}

#Tronçonneuse {
  background-repeat: no-repeat;
  background-image: url("Ressources/industrialAge/Tronçonneuse.svg");
  height: 40px;
  width: 100%;
}

#Foreuse {
  background-repeat: no-repeat;
  background-image: url("Ressources/industrialAge/Foreuse.svg");
  height: 40px;
  width: 100%;
}

#Fusil {
  background-repeat: no-repeat;
  background-image: url("Ressources/industrialAge/Fusil.png");
  height: 40px;
  width: 100%;
}

#Fonderie {
  background-repeat: no-repeat;
  background-image: url("Ressources/industrialAge/Fonderie.svg");
  height: 40px;
  width: 100%;
}

#Exploitation_forestière {
  background-repeat: no-repeat;
  background-image: url("Ressources/industrialAge/Exploitation_forestière.svg");
  height: 40px;
  width: 100%;
}

#Abattoir {
  background-repeat: no-repeat;
  background-image: url("Ressources/industrialAge/Abattoir.svg");
  height: 40px;
  width: 100%;
}