@import url("https://fonts.googleapis.com/css?family=Orbitron");
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #000;
  color: #080;
  user-select: none; }

#App {
  display: flex;
  flex: 1; }

#Game {
  display: flex;
  flex-direction: column; }

#leftPanel {
  height: 100%;
  width: 16.66667%;
  float: left;
  position: relative;
  background-size: cover; }
  @media (max-width: 768px) {
    #leftPanel {
      width: 100%; } }

#banner {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center; }

#bigNanite {
  width: 250px;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid #080;
  padding: 0.4em;
  cursor: pointer;
  margin-top: 50px; }
  #bigNanite:hover {
    width: 275px;
    height: 275px; }
  #bigNanite:active {
    width: 250px;
    height: 250px; }

#centerPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 58.33333%;
  float: left;
  padding: 1em;
  background: linear-gradient(#e66465, #9198e5); }
  @media (max-width: 768px) {
    #centerPanel {
      height: auto;
      width: 100%; } }

#rightPanel {
  height: 100%;
  width: 25%;
  float: left;
  padding: 1em;
  overflow-x: visible;
  overflow-y: auto; }
  @media (max-width: 768px) {
    #rightPanel {
      height: auto;
      width: 100%; } }

#tooltip {
  width: 300px;
  position: fixed;
  right: 25%;
  border: 1px solid #999;
  padding: 0.5em;
  background-color: rgba(0, 0, 0, 0.8);
  color: #0c0; }
  #tooltip .description {
    font-size: 8px; }

.building {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  padding: 1em;
  border: 1px solid #080; }
  .building:hover {
    color: #0c0;
    border-color: #0c0; }
